<div class="box">
    <h2>Skills</h2>
    <div class="skills">
        <div class="item-skills" data-percent="1.00" style="width: 458px;">HTML</div>
        <div class="item-skills" data-percent="0.90" style="width: 412.2px;">CSS</div>
        <div class="item-skills" data-percent="0.80" style="width: 366.4px;">jQuery</div>
        <div class="item-skills" data-percent="0.75" style="width: 343.5px;">PHP</div>
        <div class="item-skills" data-percent="0.25" style="width: 114.5px;">Laravel 2 (framework)</div>
        <div class="skills-legend clearfix">
            <div class="legend-left legend">Beginner</div>
            <div class="legend-left legend"><span>Proficient</span></div>
            <div class="legend-right legend"><span>Expert</span></div>
            <div class="legend-right legend">Master</div>
        </div>
    </div>
</div>